.file-upload #file-upload-select {
  display: block;
  color: #000;
  cursor: pointer;
  text-align: left;
  background: transparent;
  overflow: hidden;
  position: relative;
  border-radius: 4px;
  display: flex;
  height: 36px;
  align-items: center;
  border: 1px solid #d4d4d4;
}
.file-upload #file-upload-select #file-select-button {
  background: transparent;
  padding: 10px;
  display: inline-block;
  border-right: 1px solid #ccc;
  font-size: 12px;
}
.file-upload #file-upload-select .file-select-name {
  display: inline-block;
  padding: 10px;
}
.file-upload #file-upload-select:hover #file-select-button {
  background: transparent;
  color: #000;
  transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
}
.file-upload #file-upload-select input[type='file'] {
  display: none;
}
